# shellcheck shell=bash

set -euo pipefail

direnv_exit=$(trap -p EXIT)
direnv_exit="${direnv_exit##*-- \'}"
direnv_exit="${direnv_exit%%\' EXIT}"

cleanup() {
	set +x
	{
		rm ./*.lst
	} >/dev/null 2>&1
}

trap cleanup EXIT

# This are not sourced because they have no dependency on direnv
# and do not set any environment variables
generated_nix="$(./scripts/direnv/update-generated-nix.sh)"
shell_hook_template="$(cat ./scripts/direnv/shell-hook.template.sh)"

mapfile -t dev_shell_paths < <(GENERATED_NIX="${generated_nix}" SHELL_HOOK_TEMPLATE="${shell_hook_template}" ./scripts/direnv/build.sh)

PATH_add "${dev_shell_paths[@]}"

mapfile -t watch_files < <(GENERATED_NIX="${generated_nix}" ./scripts/direnv/watch-files.sh | sort | uniq)

watch_file "${watch_files[@]}"

./.direnv/hook

"${direnv_exit}"
