#root {
  height: 100%;
  width: 100%;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-upload {
  label {
    margin-right: 10px;
  }
  button {
    background-color: #ffc6d9;
  }
  input {
    display: none;
  }
}

.canvas {
  .button-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    button {
      margin: 10px 10px;
    }

    .submit {
      background-color: #ffe1c6;
    }
  }
}
