#root {
  height: 100%;
  width: 100%;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-upload {
  label {
    margin-right: 10px;
  }
  button {
    background-color: #ffc6d9;
  }
  input {
    display: none;
  }
}

.button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  button {
    margin: 10px 10px;
  }

  .download {
    border-left: 1px solid #ffffbb55;
    padding: 10px;

    label {
      display: flex;
      flex-direction: column;
      input[type="number"] {
        appearance: textfield;
        text-align: center;
      }
    }

    button {
      background-color: #ffe1c6;
    }
  }
}
